[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.26"
evm_version = "cancun"
ffi = true
via_ir = true
optimizer = true
optimizer_runs = 1000000
fs_permissions = [{ access = "read-write", path = "./" }]

[fuzz]
runs = 1000

[invariant]
runs = 256
depth = 32

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "attributes_first"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
